<div class="center">
  <h1>Results</h1>

  <p>Your letters were: <%= @string_letters %></p>
  <p><%= @results[:message]%></p>
  <!-- <p><%= @word.capitalize %></p> -->
  <%= link_to "Play again", new_path %>
</div>
