// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

h1 {
  margin-bottom: 80px;
}

body {
  margin: 20px;
  padding: 10px;
}

.center {
  text-align: center;
}
.in-line {
  display: inline;
}

p {
  font-weight: 600;
  font-size: 20px;

}

.format-form {
  padding-top: 40px;
}
